name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Installatie dependencies
        run: npm install

      - name: Uitvoeren Unit Tests
        run: npm test
        
      - name: Better Test Reports Action
        uses: mridang/action-test-reporter@v1.3.0
